<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hey Whats Up !! test of the email in jyaasa
    </p>
        <!-- <%= render 'sample_email_text.erb' %> -->
    </body>
</html>
